@model webtest.Models.CourseDetail
@{
    ViewBag.Title = "Create Course Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

<div class="row">

    <div class="col-md-6 col-12">
        <div class="form-group">
            @Html.LabelFor(model => model.course_detail_id, htmlAttributes: new { @class = "control-label col-md-4" })
            @Html.EditorFor(model => model.course_detail_id, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.course_detail_id, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="col-md-6 col-12">
        <div class="form-group">
            @Html.LabelFor(model => model.course_id, htmlAttributes: new { @class = "control-label col-md-4" })
            @Html.EditorFor(model => model.course_id, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.course_id, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.trainee_id, htmlAttributes: new { @class = "control-label col-md-4" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.trainee_id, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.trainee_id, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="col-12 d-flex justify-content-end">
        <button type="submit" class="btn btn-primary me-1 mb-1">
            Create
        </button>
        <button onclick="location.href='@Url.Action("Index", "CourseDetail")';return false;" class="btn btn-light-secondary me-1 mb-1">Back to List</button>
    </div>
</div>
}
