@model IEnumerable<webtest.Models.Account>

@{
    ViewBag.Title = "Index Account";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table table-striped" id="table1">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.accout_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.username)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.state)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.accout_id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.username)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.state)
            </td>
            <td>
                @if (HttpContext.Current.Session["state"] != null && HttpContext.Current.Session["state"].ToString() == "1")
                {
                    @Html.ActionLink("Edit", "Edit", new { id = item.accout_id })
                    @Html.ActionLink("Delete", "Delete", new { id = item.accout_id }, new { onclick = "return confirm('Are you sure you wish to delete this Account?');" })
                }


            </td>
        </tr>
    }


</table>
